In [2]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score

In [3]:
tr_df = pd.read_csv('train.csv')
tst_df = pd.read_csv('test.csv')

In [4]:
del tr_df['f_27']
del tr_df['f_29']
del tr_df['f_30']
del tst_df['f_27']
del tst_df['f_29']
del tst_df['f_30']

In [5]:
print(tr_df)

            id      f_00      f_01      f_02      f_03      f_04      f_05  \
0            0 -1.373246  0.238887 -0.243376  0.567405 -0.647715  0.839326
1            1  1.697021 -1.710322 -2.230332 -0.545661  1.113173 -1.552175
2            2  1.681726  0.616746 -1.027689  0.810492 -0.609086  0.113965
3            3 -0.118172 -0.587835 -0.804638  2.086822  0.371005 -0.128831
4            4  1.148481 -0.176567 -0.664871 -1.101343  0.467875  0.500117
...        ...       ...       ...       ...       ...       ...       ...
899995  899995  1.380145 -0.038884  0.597111  0.854560  0.684301 -1.058618
899996  899996 -1.369789  0.044841  0.015458  0.376565 -0.380529 -0.830815
899997  899997  1.386201 -0.961150  0.725994 -0.132844  0.873911 -0.245339
899998  899998 -1.590572 -0.509938 -1.715397 -0.249988  1.359933  1.650808
899999  899999 -0.636210 -0.425986 -1.826699 -0.598797  1.589577 -0.482298

            f_06  f_07  f_08  ...      f_19      f_20      f_21      f_22  \
0       0.113133     1     5  ...  0.298218 -0.919717  3.058541 -2.540739
1       0.447825     1     3  ... -3.147667 -1.075434  2.179050  2.278315
2      -0.708660     1     0  ...  2.820733 -3.485342 -0.784235 -1.385775
3      -0.282575     3     2  ...  1.081084 -2.100177 -2.343819  0.572594
4       0.407515     3     3  ... -0.126179  0.605033  1.133665 -3.912929
...          ...   ...   ...  ...       ...       ...       ...       ...
899995  1.310699     2     1  ... -4.061370 -2.643652 -2.173853 -1.594744
899996 -1.798458     4     1  ... -1.721978  0.741793 -5.190605  2.413899
899997 -1.045786     0     0  ... -1.265819  1.230005 -1.361833 -0.151930
899998 -0.058592     0     2  ...  1.035249  2.450813 -2.577817  2.423670
899999 -0.214093     7     1  ...  3.472124  1.158922 -0.612109  1.340696

            f_23      f_24      f_25      f_26        f_28  target
0       0.766952 -2.730628 -0.208177  1.363402   67.609153       0
1      -0.633658 -1.217077 -3.782194 -0.058316  377.096415       1
2      -0.520558 -0.009121  2.788536 -3.703488 -195.599702       1
3      -1.653213  1.686035 -2.533098 -0.608601  210.826205       1
4      -1.430366  2.127649 -3.306784  4.371371 -217.211798       1
...          ...       ...       ...       ...         ...     ...
899995  0.522019  0.833047  2.714125  1.290094  455.033851       1
899996 -0.674942 -0.412111 -0.030436 -3.144047  134.703577       0
899997 -4.560773 -1.249154  1.793535  2.253696  -99.536313       0
899998  2.110008  0.561271 -2.149610  1.019982   47.823039       0
899999  3.762351  1.797137 -0.412837  2.090440  -44.559296       1

[900000 rows x 30 columns]

In [6]:
print(tst_df)

             id      f_00      f_01      f_02      f_03      f_04      f_05  \
0        900000  0.442517  0.174380 -0.999816  0.762741  0.186778 -1.074775
1        900001 -0.605598 -0.305715  0.627667 -0.578898 -1.750931  1.355550
2        900002  0.303990  2.445110  0.246515  0.818248  0.359731 -1.331845
3        900003  0.154053  0.260126 -1.367092 -0.093175 -1.111034 -0.948481
4        900004 -1.651904 -0.424266 -0.667356 -0.322124 -0.089462  0.181705
...         ...       ...       ...       ...       ...       ...       ...
699995  1599995  0.640110  0.897808 -0.523956  1.563760 -0.092281 -0.610867
699996  1599996 -0.191771 -0.035246 -0.118533  0.584750  2.126977  0.568659
699997  1599997 -0.331704 -0.328845 -1.185503  1.022128 -0.483099 -0.107146
699998  1599998 -2.031073 -1.238398  0.964699 -1.045950  0.906064  0.634301
699999  1599999 -0.085906 -0.002124  2.227375  0.217145  3.179153 -1.660188

            f_06  f_07  f_08  ...  f_18      f_19      f_20      f_21  \
0       0.501888     6     6  ...     1 -1.128371  2.749347 -1.006400
1      -0.190911     1     3  ...     0 -4.424098  1.080762  2.382405
2       1.358622     3     3  ...     3 -1.523864 -1.406712 -7.026098
3       1.119220     0     0  ...     2 -1.404597  3.011085 -0.594532
4       1.784983     2     2  ...     2 -1.968516  0.100594  0.084906
...          ...   ...   ...  ...   ...       ...       ...       ...
699995  0.535426     0     1  ...     2  0.765192 -2.185190  2.604048
699996 -0.052663     4     3  ...     0 -0.895073 -0.239552  3.029857
699997 -0.968281     1     1  ...     1  0.178079 -0.922626  4.021273
699998 -0.707474     5     1  ...     0  4.043097 -3.079996  1.453864
699999  0.891989     0     3  ...     1  4.301847 -2.128546 -3.549082

            f_22      f_23      f_24      f_25      f_26        f_28
0      -1.193879 -2.435736 -2.427430 -1.966887  5.734205   99.478419
1       0.149442  1.883322 -2.848714 -0.725155  3.194219  -65.993825
2       1.312277 -5.157192  1.714005  0.585032  0.066898  -87.405622
3      -3.939475  1.754570 -2.364007 -1.003320  3.893099 -281.293460
4      -0.985736 -0.130467 -3.557893  1.210687  1.861884   25.629415
...          ...       ...       ...       ...       ...         ...
699995  1.122867  0.518110  1.243837  0.575111  0.076372  204.186539
699996  1.384682 -1.135740  2.982713 -1.511760  2.225218  -97.694591
699997 -1.845266  1.096011 -2.734508 -4.885955 -2.248739  130.622745
699998 -1.696606  1.018995  1.973697 -0.353068 -3.333449 -364.625148
699999 -4.325318 -5.017221  0.251268 -3.236026 -0.362070 -155.417342

[700000 rows x 29 columns]

In [7]:
tr_df=tr_df.drop("id",axis=1)
# Building Machine Learning Models
Y_train = tr_df["target"]
X_train = tr_df.drop("target", axis=1)
X_test  = tst_df.drop("id", axis=1).copy()
print(Y_train)
print(X_train)
print(X_test)

0         0
1         1
2         1
3         1
4         1
         ..
899995    1
899996    0
899997    0
899998    0
899999    1
Name: target, Length: 900000, dtype: int64
            f_00      f_01      f_02      f_03      f_04      f_05      f_06  \
0      -1.373246  0.238887 -0.243376  0.567405 -0.647715  0.839326  0.113133
1       1.697021 -1.710322 -2.230332 -0.545661  1.113173 -1.552175  0.447825
2       1.681726  0.616746 -1.027689  0.810492 -0.609086  0.113965 -0.708660
3      -0.118172 -0.587835 -0.804638  2.086822  0.371005 -0.128831 -0.282575
4       1.148481 -0.176567 -0.664871 -1.101343  0.467875  0.500117  0.407515
...          ...       ...       ...       ...       ...       ...       ...
899995  1.380145 -0.038884  0.597111  0.854560  0.684301 -1.058618  1.310699
899996 -1.369789  0.044841  0.015458  0.376565 -0.380529 -0.830815 -1.798458
899997  1.386201 -0.961150  0.725994 -0.132844  0.873911 -0.245339 -1.045786
899998 -1.590572 -0.509938 -1.715397 -0.249988  1.359933  1.650808 -0.058592
899999 -0.636210 -0.425986 -1.826699 -0.598797  1.589577 -0.482298 -0.214093

        f_07  f_08  f_09  ...  f_18      f_19      f_20      f_21      f_22  \
0          1     5     1  ...     4  0.298218 -0.919717  3.058541 -2.540739
1          1     3     4  ...     0 -3.147667 -1.075434  2.179050  2.278315
2          1     0     2  ...     4  2.820733 -3.485342 -0.784235 -1.385775
3          3     2     1  ...     3  1.081084 -2.100177 -2.343819  0.572594
4          3     3     0  ...     0 -0.126179  0.605033  1.133665 -3.912929
...      ...   ...   ...  ...   ...       ...       ...       ...       ...
899995     2     1     2  ...     2 -4.061370 -2.643652 -2.173853 -1.594744
899996     4     1     2  ...     0 -1.721978  0.741793 -5.190605  2.413899
899997     0     0     6  ...     0 -1.265819  1.230005 -1.361833 -0.151930
899998     0     2     2  ...     5  1.035249  2.450813 -2.577817  2.423670
899999     7     1     4  ...     3  3.472124  1.158922 -0.612109  1.340696

            f_23      f_24      f_25      f_26        f_28
0       0.766952 -2.730628 -0.208177  1.363402   67.609153
1      -0.633658 -1.217077 -3.782194 -0.058316  377.096415
2      -0.520558 -0.009121  2.788536 -3.703488 -195.599702
3      -1.653213  1.686035 -2.533098 -0.608601  210.826205
4      -1.430366  2.127649 -3.306784  4.371371 -217.211798
...          ...       ...       ...       ...         ...
899995  0.522019  0.833047  2.714125  1.290094  455.033851
899996 -0.674942 -0.412111 -0.030436 -3.144047  134.703577
899997 -4.560773 -1.249154  1.793535  2.253696  -99.536313
899998  2.110008  0.561271 -2.149610  1.019982   47.823039
899999  3.762351  1.797137 -0.412837  2.090440  -44.559296

[900000 rows x 28 columns]
            f_00      f_01      f_02      f_03      f_04      f_05      f_06  \
0       0.442517  0.174380 -0.999816  0.762741  0.186778 -1.074775  0.501888
1      -0.605598 -0.305715  0.627667 -0.578898 -1.750931  1.355550 -0.190911
2       0.303990  2.445110  0.246515  0.818248  0.359731 -1.331845  1.358622
3       0.154053  0.260126 -1.367092 -0.093175 -1.111034 -0.948481  1.119220
4      -1.651904 -0.424266 -0.667356 -0.322124 -0.089462  0.181705  1.784983
...          ...       ...       ...       ...       ...       ...       ...
699995  0.640110  0.897808 -0.523956  1.563760 -0.092281 -0.610867  0.535426
699996 -0.191771 -0.035246 -0.118533  0.584750  2.126977  0.568659 -0.052663
699997 -0.331704 -0.328845 -1.185503  1.022128 -0.483099 -0.107146 -0.968281
699998 -2.031073 -1.238398  0.964699 -1.045950  0.906064  0.634301 -0.707474
699999 -0.085906 -0.002124  2.227375  0.217145  3.179153 -1.660188  0.891989

        f_07  f_08  f_09  ...  f_18      f_19      f_20      f_21      f_22  \
0          6     6     0  ...     1 -1.128371  2.749347 -1.006400 -1.193879
1          1     3     4  ...     0 -4.424098  1.080762  2.382405  0.149442
2          3     3     4  ...     3 -1.523864 -1.406712 -7.026098  1.312277
3          0     0     4  ...     2 -1.404597  3.011085 -0.594532 -3.939475
4          2     2     2  ...     2 -1.968516  0.100594  0.084906 -0.985736
...      ...   ...   ...  ...   ...       ...       ...       ...       ...
699995     0     1     6  ...     2  0.765192 -2.185190  2.604048  1.122867
699996     4     3     4  ...     0 -0.895073 -0.239552  3.029857  1.384682
699997     1     1     2  ...     1  0.178079 -0.922626  4.021273 -1.845266
699998     5     1     1  ...     0  4.043097 -3.079996  1.453864 -1.696606
699999     0     3     4  ...     1  4.301847 -2.128546 -3.549082 -4.325318

            f_23      f_24      f_25      f_26        f_28
0      -2.435736 -2.427430 -1.966887  5.734205   99.478419
1       1.883322 -2.848714 -0.725155  3.194219  -65.993825
2      -5.157192  1.714005  0.585032  0.066898  -87.405622
3       1.754570 -2.364007 -1.003320  3.893099 -281.293460
4      -0.130467 -3.557893  1.210687  1.861884   25.629415
...          ...       ...       ...       ...         ...
699995  0.518110  1.243837  0.575111  0.076372  204.186539
699996 -1.135740  2.982713 -1.511760  2.225218  -97.694591
699997  1.096011 -2.734508 -4.885955 -2.248739  130.622745
699998  1.018995  1.973697 -0.353068 -3.333449 -364.625148
699999 -5.017221  0.251268 -3.236026 -0.362070 -155.417342

[700000 rows x 28 columns]

In [8]:
import warnings
warnings.filterwarnings('ignore')
svm = LinearSVC()
svm.fit(X_train, Y_train)
y_predict=svm.predict(X_test)
print(y_predict)

[0 1 1 ... 0 1 1]

In [9]:
mufreahCSV = tst_df[['id']]

In [10]:
mufreahCSV

             id
0        900000
1        900001
2        900002
3        900003
4        900004
...         ...
699995  1599995
699996  1599996
699997  1599997
699998  1599998
699999  1599999

[700000 rows x 1 columns]

In [11]:
prd = tst_df.drop(columns=['id'])

In [12]:
prd.head()

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,f_18,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28
0,0.442517,0.174380,-0.999816,0.762741,0.186778,-1.074775,0.501888,6,6,0,...,1,-1.128371,2.749347,-1.006400,-1.193879,-2.435736,-2.427430,-1.966887,5.734205,99.478419
1,-0.605598,-0.305715,0.627667,-0.578898,-1.750931,1.355550,-0.190911,1,3,4,...,0,-4.424098,1.080762,2.382405,0.149442,1.883322,-2.848714,-0.725155,3.194219,-65.993825
2,0.303990,2.445110,0.246515,0.818248,0.359731,-1.331845,1.358622,3,3,4,...,3,-1.523864,-1.406712,-7.026098,1.312277,-5.157192,1.714005,0.585032,0.066898,-87.405622
3,0.154053,0.260126,-1.367092,-0.093175,-1.111034,-0.948481,1.119220,0,0,4,...,2,-1.404597,3.011085,-0.594532,-3.939475,1.754570,-2.364007,-1.003320,3.893099,-281.293460
4,-1.651904,-0.424266,-0.667356,-0.322124,-0.089462,0.181705,1.784983,2,2,2,...,2,-1.968516,0.100594,0.084906,-0.985736,-0.130467,-3.557893,1.210687,1.861884,25.629415

In [13]:
tstPRD = svm.predict(prd)

In [14]:
print(tstPRD)

[0 1 1 ... 0 1 1]

In [15]:
mufreahCSV['target'] = tstPRD

In [16]:
mufreahCSV.head()

       id  target
0  900000       0
1  900001       1
2  900002       1
3  900003       1
4  900004       0

In [17]:
mufreahCSV.to_csv('newcompdataset.csv', index=False)